* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

header, footer {
    background-color: #1F2937;
}

header{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > nav {
    width: 80vw;
    padding: 10px;
}

header > nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 25px;
}

.right {
    margin-left: auto;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
}

li > img {
    width: 30px;
}

.logo > img {
    width: 60px;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

li > a {
    text-decoration: none;
    padding: 5px;
}

li > a:hover {
    background: white;
    color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.content-header{
    display: flex;
    padding: 120px;
    gap: 50px;
}

.content-header-child {
    flex: 1;
}

.sign-up {
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.main {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.info {
    padding: 25px;
    padding-bottom: 50px;
}

.info-heading{ 
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}

.figures img, .figures figcaption {
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.info img:hover {
    transform: scale(1.1);
}

.image-list {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.quote-container {
    padding: 100px;
    background-color: #E5E7EB;
}

.quote {
    width: 60%;
    margin: 0 auto;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;
}

.quote-by {
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
    text-align: end;
}

.action-container {
    display: flex;
    padding: 50px 100px;
    justify-content: center;
}

.call-for-action {
    flex: 0 0 800px;
    padding: 25px 75px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.border {
    border: white solid 2px;
}

.bold {
    font-weight: bold;
    font-size: 1.1em;
}

.thin {
    font-weight: lighter;
}

footer {
    padding: 25px;
    text-align: center;
}